@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    /* overflow-x: hidden; */
    background: #fff;
    min-height: 100vh;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.Logo
{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li
{
    list-style: none;
}
.navigation li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover ,
.navigation li a.active
{
    background: #112434;
    color: #fff;
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#text
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #112434;
}
.sec
{
    position: relative;
    padding: 100px;
    background: #112434;
}
.sec h2
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec h4
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.sec h5
{
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
}
.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

/* Places to Visit Page */
.banner {
    position: relative;
    text-align: center;
    color: #fff;
    height: 500px;
}
.banner img {
    width: 100%;
    height: 100%;
}
.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: 700;
}
.sec_places_to_visit
{
    position: relative;
    padding: 100px;
    background: #112434;
}
.sec_places_to_visit h2
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec_places_to_visit h4
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.sec_places_to_visit h5
{
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
}
.sec_places_to_visit p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.sec_places_to_visit {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    width: 800;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.container p {
    flex: 1;
    font-size: 1.2em;
}